@import url('https://fonts.googleapis.com/css?family=Poppins:300');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    position: relative;
    
   /* outline: 1px solid yellow; */
	}

body {
    background-color: hsl(180,0%,26%);
    // background-color: rgb(239, 252, 232);
	background-image:
		linear-gradient(
            hsla(150,0%,26%,0),
			rgba(78, 206, 93, 0.245),
			hsla(200,30%,26%,.8) 600px,
			hsla(200,30%,26%,1) 700px
			);
    background-size: auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    
    color: #666;
    position: relative;
	}

@import "components/_bg-slideshow";

.main-gradient {
	background-image:
		linear-gradient(
            hsla(150,0%,26%,0),
			rgba(78, 206, 93, 0.245),
			hsla(200,30%,26%,.8) 600px,
			hsla(200,30%,26%,1) 700px
			);
	// background-image:
	// 	linear-gradient(
    //         hsla(150,0%,26%,0),
	// 		rgba(37, 106, 140, 0.639),
	// 		rgba(115, 160, 184, 0.8) 600px,
	// 		rgb(239, 252, 232) 700px
	// 		);
    background-size: auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    
    z-index: -1;
    }

h1, h2, h3, h4, h5, h6 {    
    font-family: 'Noto Sans', sans-serif;
    }

a {
    color: inherit;
    text-decoration: none;
    background-image:
        linear-gradient(
            transparent calc(100% - 2px),
            white
            );
    background-size: 0 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: .3s;
    }
a:hover {
    background-size: 100% 100%;
    }

.main-header {
    color: white;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 128px;
	}
    @media (max-width: 1164px) {
        .main-header {
            margin-bottom: 32px;
            }
        }
.main-top-bar {
    width: 100%;
    background-color: rgba(46, 72, 86, 0.531);
    margin-bottom: 64px;
    
    display: flex;
    padding: 32px;
    }
    @media (max-width: 778px) {
        .main-top-bar {
            margin-bottom: 32px;
            }
        }
.main-nav {
    display: flex;
    margin-left: auto;
    }
.main-nav a {
    width: 150px;
    text-align: center;
    }
@media (max-width: 1052px) {
    .main-nav a {
        display: none;
        }
    }

.quick-contact {
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    
    border-radius: 5px;
    background-color: rgba(93, 162, 199, 0.531);

    > div {
        margin-right: 12px;
        }
    }
    @media (max-width: 448px) {
        .quick-contact {
            // flex-direction: column;
            width: 100%;

            > div {
                width: 100%;
                }
            }
        }
    @media (max-width: 364px) {
        .quick-contact {
            flex-direction: column;

            > * {
                margin-bottom: 6px;
                }
            }
        }
.quick-contact p + p {
    border-left: 1px solid white;
    margin-left: 12px;
    padding-left: 12px;
    }
    @media (max-width: 364px) {
        .quick-contact p + p {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
            }
        }

.secondary-page .main-header {
    flex-wrap: nowrap;
    }
.secondary-page .main-nav {
/*    width: auto;*/
    order: 2;
    }

.logo {
    padding: 0 32px;
    width: 364px;
	}
    @media (max-width: 878px) {
        .logo {
            width: 300px;
            }
        }
    @media (max-width: 778px) {
        .logo {
            margin: auto;
            }
        }
    @media (max-width: 400px) {
        .logo {
            width: 240px;
            }
        }
.logo-img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
    /* filter: invert(1); */
    }
.logo-title {
    text-align: center;
    font-size: 3rem;
/*    font-weight: bold;*/
    font-family: 'Vidaloka', serif;
    }

.secondary-page .logo {
    width: 200px;
    flex-direction: row;
    order: 1;
    }
.secondary-page .logo-title {
    font-size: 1rem;
    }

.intro-text {
    width: calc(100% - 364px);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    @media (max-width: 778px) {
        .intro-text {
            width: 100%;
            }
        }
.main-cap_strong {
    font-size: 3.5rem;
    font-family: 'Source Sans Pro', sans-serif;
/*    text-transform: uppercase;*/
    }
    @media (max-width: 878px) {
        .main-cap_strong {
            font-size: 2.7rem;
            }
        }
    @media (max-width: 400px) {
        .main-cap_strong {
            font-size: 2rem;
            }
        }
.main-cap + .main-cap {
    margin-top: 30px;
    }

.nav-content {
/*    margin: auto;*/
    width: 100%;
    
    padding: 0 30px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    @media (max-width: 1164px) {
        .nav-content {
            flex-direction: column;
            }
        }
.nav-box {
    max-width: calc(33.33% - 30px);
    flex-grow: 1;
    display: flex;
    background-image: none!important;
    position: relative;
    padding: 10px;
    
    color: white;
    border: 1px solid #999;
    border-radius: 5px;
    
    background-image: 
        linear-gradient(
            hsla(3,10%,0%,0),
            hsla(3,10%,0%,.4)
            ),
        url(../images/bg_top.jpg);
    background-size: auto, 100% auto;
    background-position: 50%;
    opacity: .8;
    
    transition: 5s background-size linear, .3s opacity;
/*    box-shadow: inset 0 0 50px 10px hsl(33,0%,10%);*/
    }
    @media (max-width: 1164px) {
        .nav-box {
            max-width: 100%;

            + .nav-box {
                margin-top: 24px;
                }
            }
        }
.nav-box_title {
    margin-bottom: 12px;
    }

.nav-box-icon {
    margin-right: 24px;
    }

.box_courses {    
    background-image: 
        linear-gradient(
            hsla(3,10%,0%,.4),
            hsla(3,10%,0%,.8)
            ),
        url(../images/bg_courses.jpg);
    }
.box_opportunities {    
    background-image: 
        linear-gradient(
            hsla(3,10%,0%,.4),
            hsla(3,10%,0%,.8)
            ),
        url(../images/bg_opportunities.jpg);
    }
.box_about {    
    background-image: 
        linear-gradient(
            hsla(3,10%,0%,.4),
            hsla(3,10%,0%,.8)
            ),
        url(../images/bg_about.jpg);
    }
.nav-box > * {
    z-index: 2;
    }
.nav-box:hover {
    background-size: auto, 110% auto;
    opacity: 1;
    }
.nav-box:before,
.nav-box:after {    
    content: '';
    position: absolute;
    }
.nav-box:before {
    top: -5px; left: -5px;
    right: -5px; bottom: -5px;
    
    /* border: 1px solid #999; */
    opacity: .4;
    transition: .3s;
    }
.nav-box:hover:before {
    opacity: 1;
    }
.nav-box:after {
    top: 0; left: 0;
    bottom: 0; right: 0;   
    z-index: 1;
    
    background-image: none!important;
    opacity: .4;
    
    background-image: 
        linear-gradient(
            45deg,
            hsl(33,100%,33%),
            hsl(103,100%,20%)
            );
    mix-blend-mode: color;
    }
.box_courses:after {
    background-image: 
        linear-gradient(
            45deg,
            hsl(133,100%,33%),
            hsl(233,100%,20%)
            );
    }
.box_opportunities:after {
    background-image: 
        linear-gradient(
            45deg,
            hsl(233,100%,33%),
            hsl(33,100%,20%)
            );
    }

.box_title {
    font-size: 2rem;
    margin-bottom: 20px;
    }

.break-text {
    display: flex;
    flex-direction: column;
/*    margin-bottom: 90px;*/
    overflow-x: hidden;
    }

.info-box {
    max-width: 80%;
    background-color: hsla(0,0%,100%,.9);
    padding: 30px;
    margin-left: auto;
    margin-bottom: 32px;
    background-image: 
		linear-gradient(
            rgba(66, 66, 66, 0.456),
			rgba(78, 206, 93, 0.245),
			rgba(20, 118, 171, 0.8)
			),
        url(../images/yoga1.jpg);
    background-size: cover;
    color: white;

    min-height: 400px;
    transition: .5s;
    transform: translateX(100%);

    &:nth-child(2) {
        transform: translateX(-100%);
        }
    }
    @media (max-width: 712px) {
        .info-box {
            max-width: 100%;
            // transform: none;

            // &:nth-child(2) {
            //     transform: none;
            //     }
            }
        }

.slide-in {
    transform: none!important;
    }

.info-box:nth-child(2) {
    margin-left: 0;
    margin-right: auto;
    background-image: 
		linear-gradient(
            rgba(66, 66, 66, 0.456),
			rgba(78, 206, 93, 0.245),
			rgba(20, 118, 171, 0.8)
			),
        url(../images/_87b7d52a-4235-11e8-873d-4d6fb1883171.jpg);
    }
.info-box:nth-child(3) {
    background-image: 
		linear-gradient(
            rgba(66, 66, 66, 0.456),
			rgba(78, 206, 93, 0.245),
			rgba(20, 118, 171, 0.8)
			),
        url(../images/ayurveda3.jpg);
    }
.info-text {
    max-width: calc(50% - 30px);
    margin-left: auto;
    }
    @media (max-width: 540px) {
        .info-text {
            max-width: 100%;
            }
        }
.info-box:nth-child(2) .info-text {
    margin-left: 0;
    margin-right: auto;
    }

.location-tile {
    background-color: hsla(0,0%,0%,.5);
    color: white;
    padding: 60px 0 120px;
    }
.location-box {
    margin: auto;
    max-width: 1010px;   
    }
.map {
    border: 5px solid white;
    min-height: 300px;
    position: relative;
    }
.map:before {
    content: "tap to interact";
    font-size: .9rem;
    position: absolute;
    top: -1.5rem;
    }
.map iframe {
    position: absolute;
    top: 0; 
    width: 100%;
    height: 100%;
    }


.contact-tile {
    background-color: white;
    color: #666;
    padding: 30px;
    }

.contact-title {
    font-size: 2rem;
    margin-bottom: 30px;
    }

.contact-box {
    margin: auto;
    max-width: 1010px;   
    }

label {
    display: block;
    margin-bottom: 20px;
    }

.label {
    font-size: .9rem;
    }

input, 
textarea {
    display: block;
    font-size: 1.2rem;
    padding: 5px;
    color: inherit;
    width: 100%;
    font-family: inherit;
    }

input:focus, textarea:focus {
    border: 1px solid black;
    }

// .quick-contact {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     }
// .quick-contact > * {
//     flex-grow: 1;
//     }

.input-coll_fl-l,
.enquiry {
    max-width: 480px;
    }

.enquiry {
    display: flex;
    flex-direction: column;
    }
.enquiry textarea {
    flex-grow: 1;
    }

.contact-nav {
    padding: 150px 0;
    display: flex;
    justify-content: center;
    background-image: 
		linear-gradient(
            rgba(66, 66, 66, 0.456),
			rgba(78, 206, 93, 0.245),
			hsla(200,30%,26%,.8)
			),
        url(../images/slides/slide-04.jpg);
    background-size: cover;
    }
    @media (max-width: 558px) {
        .contact-nav {
            flex-direction: column;
            padding: 75px 24px;
            }
        }

.contact-nav-item {
    padding: 15px;
    background-image: 
		linear-gradient(
            rgb(52, 84, 98),
			rgb(16, 94, 137)
			);
    background-size: contain;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;

    &:hover {
        background-color: rgb(209, 209, 209);
        }

    + .contact-nav-item {
        margin-left: 10%;
        }
    }
    @media (max-width: 558px) {
        .contact-nav-item + .contact-nav-item {
            margin-left: 0;
            margin-top: 10%;
            }
        }


.main-footer {
    // min-height: 50vh;
    // background-image: 
    //     linear-gradient(
    //         hsla(0,0%,0%,.7),
    //         hsla(0,0%,0%,.7)
    //         );
    background-color: #222;
    padding: 50px 0;
    text-align: center;
    }